@model List<MusicApp_AdamKoen.ViewModels.SongViewModel>

<form method="get" action="@Url.Action("Index", "Overview")">
    <input type="text" name="search" placeholder="Search songs..." />
    <button type="submit">Search</button>
</form>
<div id="playbackBar">
    <div class="playback-info">
        Now Playing: <span id="playingSong"></span>
        <button onclick="skipSong()">Skip</button>
    </div>
    <div class="progress-bar" id="progressBar"></div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Duration</th>
            <th>Playlists</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr class="song-row" id="song-@song.Id">
                <td>@song.Id</td>
                <td>@song.Title</td>
                <td>@song.ArtistName</td>
                <td>@song.Genre</td>
                <td>@song.ReleaseDate.ToShortDateString()</td>
                <td>
                    @string.Format("{0:D2}:{1:D2}", song.Duration / 60, song.Duration % 60)
                </td>
                <td>
                    <ul>
                        @foreach (var playlist in song.Playlists)
                        {
                            <li>@playlist</li>
                        }
                    </ul>
                </td>
                <td>
                    <button class="like-button" onclick="likeItem('song', @song.Id)">
                        <i class="@(song.IsLiked ? "fa-solid" : "fa-regular") fa-heart"></i>
                    </button>
                    <button class="play-button" onclick="playSong('@song.Id', '@song.Title','@song.Duration')"><i class="fa-solid fa-play"></i></button>
                </td>

            </tr>
        }
    </tbody>
</table>