@model List<MusicApp_AdamKoen.ViewModels.SongViewModel>
@{
    ViewData["Title"] = "Overview";
}
<h1>Overview</h1>

<a asp-controller="Overview" asp-action="MusicLibrary">Go to Music Library</a>

<form asp-controller="Overview" asp-action="Index" method="get">
    <input type="text" name="SearchString" placeholder="Search songs..." value="@ViewData["searchString"]" />
    <button type="submit">Search</button>
</form>
<div id="playbackBar">
    <div class="playback-info">
        Now Playing: <span id="playingSong"></span>
        <button onclick="skipSong()">Skip</button>
    </div>
    <div class="progress-bar" id="progressBar"></div>
</div>
<table class="table" id="songsTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Artist</th>
            <th>Genre</th>
            <th>Release Date</th>
            <th>Duration</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var song in Model)
        {
            <tr class="song-row" id="song-@song.Id">
                <td>@song.Title</td>
                <td><a asp-controller="Artist" asp-action="Details" asp-route-id="@song.ArtistId">@song.ArtistName</a></td>
                <td>@song.Genre</td>
                <td>@song.ReleaseDate.ToShortDateString()</td>
                <td>
                    @string.Format("{0:D2}:{1:D2}", song.Duration / 60, song.Duration % 60)
                </td>
                <td>
                    <button class="like-button" onclick="likeItem('song', @song.Id)">
                        <i class="@(song.IsLiked ? "fa-solid" : "fa-regular") fa-heart"></i>
                    </button>
                    <button class="play-button" onclick="playSong('@song.Id', '@song.Title','@song.Duration')"><i class="fa-solid fa-play"></i></button>
                </td>

            </tr>
        }
    </tbody>
</table>