@model MusicApp_AdamKoen.ViewModels.IndexViewModel
<div id="playbackBar">
    <div class="playback-info">
        Now Playing: <span id="playingSong"></span>
        <button onclick="skipSong()">Skip</button>
    </div>
    <div class="progress-bar" id="progressBar"></div>
</div>

<h2>All Playlists</h2>
<a href="@Url.Action("Create", "Playlist")" class="btn btn-primary">Create New Playlist</a>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Created At</th>
        <th>Total Songs</th>
        <th>Total Duration</th>
    </tr>

@foreach (var playlist in Model.AllPlaylists)
{
    @if (playlist.IsPublic == true)
    {
            <tr>
            <td>
                <a asp-action="Details" asp-controller="Playlist" asp-route-id="@playlist.Id">
                    @playlist.Name
                </a>
            </td>
            <td>@playlist.CreatedAt.ToShortDateString()</td>
            <td>@playlist.TotalSongs</td>
            <td>@TimeSpan.FromSeconds(playlist.TotalDuration).ToString(@"hh\:mm\:ss")</td>
            </tr>
    }
}
</table>

